<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminNews">
	<!-- 전체 조회 -->
	<select id="selectAll" resultType="AdminNewsBoardListDTO">
		<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM AS rnum, subquery.*
      		FROM (
       		 	SELECT
          		n.news_number, n.news_title, a.admin_name,
          		n.news_created_date
        		FROM tbl_news n JOIN tbl_admin a 
        		ON a.admin_number = n.admin_number
        		ORDER BY n.news_created_date DESC, n.news_number DESC
      ) subquery
    ) WHERE rnum BETWEEN #{startRow} AND #{endRow}
    ]]>
	</select>

	<!-- 게시글 총 갯수 -->
	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM tbl_news
	</select>

	<!-- 뉴스 등록 -->
	<insert id="insert" parameterType="AdminNewsBoardDTO">
		<selectKey keyProperty="newsNumber" resultType="int"
			order="BEFORE">
			SELECT seq_news_items.nextval FROM DUAL
		</selectKey>
		INSERT INTO tbl_news (
		news_number, admin_number, news_title, news_content, news_link_url,
		files_number, news_created_date, news_updated_date)
		VALUES (
		#{newsNumber}, #{adminNumber}, #{newsTitle}, #{newsContent}, #{newsLinkUrl},
		#{filesNumber}, SYSDATE, NULL )
	</insert>

	<!-- 뉴스 수정 -->
	<update id="update"
		parameterType="com.wt.app.dto.AdminNewsBoardDTO">
		UPDATE tbl_news
		SET news_title = #{newsTitle}, news_content = #{newsContent},
		news_link_url = #{newsLinkUrl}, files_number = #{filesNumber},
		news_updated_date = SYSDATE
		WHERE news_number = #{newsNumber}
		AND admin_number = #{adminNumber}
	</update>

	<!-- 뉴스 상세(1건 조회) -->
	<select id="selectOne" parameterType="int"
		resultType="AdminNewsBoardDTO">
  	<![CDATA[
    SELECT n.news_number, n.admin_number, n.news_title,
      n.news_content, n.news_link_url, n.files_number,
      n.news_created_date, n.news_updated_date
    FROM tbl_news n
    WHERE n.news_number = #{newsNumber}
    ]]>
	</select>

	<!-- 삭제 (작성자 본인만) -->
	<delete id="delete" parameterType="int">
		DELETE FROM tbl_news
		WHERE news_number = #{newsNumber}
	</delete>
</mapper>