<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<!-- 회원 정보 조회 -->
	<select id="adminUserManager" resultType="AdiminUserManagerDTO">
		SELECT 
		    u.users_number,
		    COALESCE(n.users_name, c.users_name) AS users_name,
		    u.users_id,
		    COALESCE(n.users_email, c.users_email) AS users_email,
		    COALESCE(n.users_phone, c.users_phone) AS users_phone,
		    u.users_type
		FROM tbl_users u
		JOIN tbl_normal_users n 
			ON u.users_number = n.users_number
		JOIN tbl_care_users c 
		    ON u.users_number = c.users_number
	</select>
	
	<!-- 공지사항 조회 -->
	<select id="adminNoticeListSearch" resultType="AdminNoticeListDTO">
		SELECT NOTICE_NUMBER , NOTICE_TITLE , ADMIN_NUMBER , NOTICE_VIEW_COUNT , NOTICE_CREATED_DATE 
		FROM TBL_NOTICES
	</select>
	
	<!-- 공지사항 등록 -->
	<insert id="adminNoticeListInsert" parameterType="AdminNoticeListDTO">
		insert into tbl_notices(notice_number, notice_title, notice_content)
		values(#{noticeNumber} #{noticeTitle}, #{noticeContent})
	</insert>
	
	<!-- 공지사항 수정 -->
	<update id="adminNoticeListUpdate" parameterType="AdminNoticeListDTO">
		update tbl_notices
		set notice_title = #{noticeTitle}, notice_content = #{noticeContent}
		where notice_number = #{noticeNumber}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="adminNoticeListDelete" parameterType="int">
		delete from tbl_notices
		where notice_number = #{noticeNumber}
	</delete>
	
	<!-- 신고글 조회 -->
	<select id="adminReportListSelect" resultType="AdminReportListDTO">
		SELECT 
		    posts_number,
		    posts_title ,
		    posts_created_date,
		    posts_report_count
		FROM tbl_posts
	</select>
	
	<!-- 신고글 삭제 -->
	<delete id="adminReportListDelete" parameterType="int">
		delete from tbl_posts
		where posts_number = #{postNumber}
	</delete>
	
	<!-- 베너 뉴스 등록 -->
	<insert id="adminNewsBannerInsert" parameterType="AdminNewsBannerDTO">
		insert into (news_number, news_title, news_created_date, news_link_url)
		values(#{newsNumber}, #{newsTitle}, #{newsCreatedDate}, #{newsLinkUrl})
	</insert>
	
	<!-- 베너 뉴스 조회 -->
	<select id="adminNewsBannerselect" resultType="AdminNewsBannerDTO">
		select news_number, news_title, news_created_date
		from tbl_news
	</select>
	
	<!-- 베너 뉴스 수정 -->
	<update id="adminNewsBannerUpdate" parameterType="AdminNewsBannerDTO">
		update tbl_news
		set news_title = #{newsTitle}, news_content = #{newsContent}, news_link_url = #{newsLinkUrl}
		where news_number = #{newsNumber}
	</update>
	
	<!-- 베너 뉴스 삭제 -->
	<delete id="adminNewsBannerDelete" parameterType="AdminNewsBannerDTO">
		delete from tbl_news
		where news_number = #{newsNumber}
	</delete>
	
	<!-- 문의 조회 -->
	<select id="adminReferenceListSelect" resultType="AdminReferenceListDTO">
		SELECT 
		    r.reference_number,
		    r.reference_title,
		    r.reference_users_number,
		    u.users_id,
		    r.reference_created_date,
		    r.reference_answered_yn
		FROM tbl_reference r
		JOIN tbl_users u 
		     ON r.reference_users_number = u.users_number
		ORDER BY r.reference_number;
	</select>
	
</mapper>