<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="careModify">
	
	<!-- 개인정보 주소 수정 쿼리작성 -->
	<update id="profileAddress">
		update tbl_users set users_postsal_code = #{usersPostsalCode}, users_address_line1 = #{usersAddressLine1}, users_address_line2 = #{usersAddressLine2}
		where tbl_users.users_number = #{usersNumber}
	</update>
	
	<!-- 전화번호 수정 쿼리작성 -->
	<update id="profilePhone">
		update tbl_users set users_phone = #{usersPhone}
		where tbl_users.users_number = #{usersNumber}
	</update>
	
	<!-- 이메일 수정 쿼리작성 -->
	<update id="profileEmail">
		update tbl_users set users_email = #{usersEmail}
		where tbl_users.users_number = #{usersNumber}
	</update>
	
	<!-- 비밀번호 수정 쿼리작성 -->
	<update id="profilePassword">
		update tbl_users set users_password = #{usersPassword}
		where tbl_users.users_number = #{usersNumber}
	</update>
	
	
</mapper>












