<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="careMark">

	<!-- 회원의 찜 목록 -->
	<select id="getMarks" parameterType="map" resultType="CareMarkDTO">
		<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM AS rnum, subquery.*
			FROM (
				SELECT FAVORITES_NUMBER, USERS_NUMBER, FAVORITES_SHOPS_NUMBER, tsf.AVORITES_CREATED_DATE, 
				SHOPS_NUMBER, SHOPS_NAME, SHOPS_ROAD_ADDRESS, SHOPS_PHONE 
				FROM TBL_SHOPS_FAVORITES tsf LEFT JOIN TBL_SHOPS ts ON tsf.FAVORITES_SHOPS_NUMBER = ts.SHOPS_NUMBER WHERE USERS_NUMBER #{usersNumber}
				ORDER BY f.favorites_created_date DESC
			) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}	
		]]>
	</select>
















	<!-- 찜 목록 전체 조회 -->
	<select id="markAll" parameterType="map" resultType="CareMarkDTO">
		<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM AS rnum, subquery.*
			FROM (
				SELECT s.shops_name, s.shops_road_address, s.shops_phone
				FROM tbl_shops_favorites f JOIN tbl_shops s 
				ON f.favorites_shops_number = s.shops_number
				where f.users_number = #{usersNumber}
				ORDER BY f.favorites_created_date DESC
			) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}	
		]]>
	</select>
	
	<!-- 찜 목록 전체 개수 -->
	<select id="markTotal" resultType="int">
		SELECT COUNT(*) FROM TBL_SHOPS_FAVORITES WHERE USERS_NUMBER = #{usersNumber}
	</select>
		
	
	
	<!-- 찜 삭제 쿼리 -->
	<delete id="markDelete">
		delete from tbl_shops_favorites
		where favorites_number = #{rows}
	</delete>
	
	
</mapper>








