<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarePost">
	<!-- 게시글 목록 전체 조회 -->
	<select id="postAll" parameterType="CarePostDTO">
		<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM AS rnum, subquery.*
			FROM (
				SELECT users_number, posts_title, posts_created_date
				FROM tbl_posts
				where users_number = #{usersNumber}
				ORDER BY posts_number DESC
			) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}	
		]]>
	</select>

	<!-- 게시글 삭제 쿼리 -->
	<delete id="PostDelete">
		delete from tbl_posts
		where posts_number = #{rows}
	</delete>


</mapper>





