<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="careProfile">
	<!-- 프로필 사진 수정 쿼리작성 -->
	<update id="profileProfile">
		update tbl_files_profiles set profiles_files_type=#{profilesFilesType}, profiles_files_name=#{profilesFilesName}, profiles_files_path=#{profilesFilesPath},
		profiles_files_size_bytes=#{profilesFilesSizeBytes}, profiles_files_created_date=#{profilesCreatedDate}
		where tbl_files_profiles.profiles_files_number = #{profilesFilesNumber}
	</update>

	<!-- 프로필 요일 수정 쿼리작성 -->
	<update id="profileDay">
		update tbl_day set day_monday = #{dayMonday}, day_tuesday = #{dayTuesday}, day_wednesday = #{dayWednesday}, day_thursday = #{dayThursday}, day_friday = #{dayFriday},
		day_saturday = #{daySaturday}, day_sunday = #{daySunday}
		where tbl_day.care_number = #{careNumber}
	</update>
	
	<!-- 프로필 이력 수정 쿼리작성 -->
	<!-- 주요이력 ??? -->
	<update id="profileLicense">
		update tbl_files_license join tbl_files_account set 
		where tbl_care_users.care_number = #{careNumber}
	</update>

	<!-- 프로필 주소 수정 쿼리작성 -->
	<update id="profileAddress">
		update tbl_users set users_postsal_code = #{usersPostsalCode}, users_address_line1 = #{usersAddressLine1}, users_address_line2 = #{usersAddressLine2}
		where tbl_users.users_number = #{usersNumber}
	</update>

	<!-- 프로필 소개글 수정 쿼리작성 -->
	<update id="profileIntro">
		update tbl_care_users set care_intro_text = #{careIntroText}
		where tbl_care_users.care_number = #{careNumber}
	</update>


	<!-- 프로필 정보 조회 -->
	<select id="profileSelect" parameterType="careProfileDTO">
		select  *
		from (select * from tbl_day d join tbl_care_users c on d.care_number=c.care_number) a
		join tbl_files_profiles b on a.care_profiles_photo_number=b.profiles_files_number
		where a.users_number = #{usersNumber};
		
	</select>

</mapper>