<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="careMatching">
	<!-- 매칭 추가 -->
	<insert id="matchingAdd" parameterType="careMatchingDTO">
		<selectKey keyProperty="matchingNumber" resultType="int" order="BEFORE">
			SELECT seq_matchings.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO tbl_matching(match_number, care_number, normal_number, match_date, match_match_time, match_points, match_status)
		VALUES(seq_matchings.nextval, #{careNumber}, #{normalNumber}, #{matchDate}, #{matchMatchTime}, #{matchPoints}, #{matchStatus})
	</insert>


	<!-- 매칭기록 월별 조회 -->
	<select id="matchingMonth" parameterType="careMatchingDTO">
		<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM AS rnum, subquery.*
			FROM (
				SELECT m.match_date, n.users_name, m.match_match_time, m.match_points, m.match_status
				FROM tbl_matchings m JOIN tbl_normal_users n 
				ON m.normal_number = n.normal_number
				where m.users_number = #{usersNumber} and 
				ORDER BY m.match_date DESC
			) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}	
		]]>
	</select>

</mapper>s



