<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CareUsersMapper">

	<insert id="join" parameterType="com.wt.app.dto.CareSignDTO">
		INSERT INTO tbl_care_users (
		users_number, care_intro_text, care_certificate_files_num,
		care_passbook_files_num, care_profiles_photo_number,
		care_accept
		)
		VALUES 
		(
		#{usersNumber}, #{careIntroText},
		#{careCertificateFilesNum}, #{carePassbookFilesNum},
		#{careProfilesPhotoNumber}, NVL(#{careAccept}, 'N')
		)
	</insert>

</mapper>