<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="careExit">
	
	<!-- 프로필 삭제 삭제 -->
	<delete id="delCareProExit">
		DELETE FROM RICEBALL.TBL_FILES_PROFILES tfp WHERE USERS_NUMBER = #{usersNumber}
	</delete>
	
	<!-- 회원 삭제 -->
	<delete id="delCareExit">
		DELETE FROM RICEBALL.TBL_FILES_PROFILES tfp WHERE USERS_NUMBER = #{usersNumber}
	</delete>
	
	
	<select id="countReserve" resultType="int">
		SELECT COUNT(MATCH_NUMBER) FROM tbl_matchings WHERE TBL_MATCHINGS.CARE_NUMBER = #{usersNumber} AND MATCH_STATUS = 'S'
	</select>

</mapper>

