<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carePost">
	<!-- 게시글 목록 전체 조회 -->
	<select id="postAll" resultType="CarePostDTO">
		<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM AS rnum, subquery.*
			FROM (
				SELECT tp.POSTS_NUMBER, tp.POSTS_TITLE, tp.USERS_NUMBER, tp.POSTS_CREATED_DATE, tu.USERS_NAME 
				FROM TBL_POSTS tp LEFT JOIN TBL_USERS tu ON tp.USERS_NUMBER = tu.USERS_NUMBER 
				WHERE tp.USERS_NUMBER = #{usersNumber}
				ORDER BY POSTS_CREATED_DATE DESC
			) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}	
		]]>
	</select>
	
	<!-- 게시글 목록 전체 개수 -->
	<select id="postTotal" resultType="int">
		SELECT count(POSTS_NUMBER) FROM TBL_POSTS tp WHERE tp.USERS_NUMBER = #{usersNumber}
	</select>
		




</mapper>





