<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="careReferenceCheck">
	<!-- 문의 내용 조회 -->
	<select id="referenceCheck" resultType="CareReferenceCheckDTO">
			SELECT u.users_number, r.reference_number, r.reference_title, u.users_name, r.reference_created_date, r.reference_content
			FROM   tbl_reference r
			JOIN   tbl_users u
  			ON   r.reference_users_number = u.users_number
			WHERE  u.users_number = #{usersNumber}
  			AND  r.reference_number = #{referenceNumber};
	</select>

</mapper>