<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="careModify">
	
	<!-- 회원 이름 조회 -->
	<select id="nameSelect" resultType="String">
		SELECT users_name
		FROM tbl_users
		WHERE users_number = #{usersNumber}
	</select>
	
	<!-- 회원 우편번호 조회 -->
	<select id="postarSelect" resultType="String">
		SELECT users_postsal_code
		FROM   tbl_users
		WHERE  users_number = #{usersNumber}
	</select>
	
	<!-- 회원 주소1 조회 -->
	<select id="address1Select" resultType="String">
		SELECT  users_address_line1
		FROM   tbl_users
		WHERE  users_number = #{usersNumber}
	</select>
	
	<!-- 회원 주소2 조회 -->
	<select id="address2Select" resultType="String">
		SELECT  users_address_line2
		FROM   tbl_users
		WHERE  users_number = #{usersNumber}
	</select>
	
	
	
	<!-- 회원 전화번호 조회 -->
	<select id="phoneSelect" parameterType="int" resultType="String">
		SELECT users_phone
		FROM   tbl_users
		WHERE  users_number = #{usersNumber}
	</select>
	
	<!-- 회원 아이디 조회 -->
	<select id="idSelect" parameterType="int" resultType="String">
		SELECT users_id
		FROM   tbl_users
    	WHERE users_number = #{usersNumber} 
	</select>
	
	<!-- 회원 이메일 조회 -->
	<select id="emailSelect" resultType="String">
		SELECT users_email
		FROM   tbl_users
		WHERE users_number = #{usersNumber}
	</select>
	
	<!-- 회원 비밀번호 조회 -->
	<select id="passwordSelect">
		SELECT users_password
		FROM   tbl_users
    	WHERE users_number = #{usersNumber} 
	</select>
	
	
	<!-- 개인정보 주소 수정 쿼리작성 -->
	<update id="addressUpdate">
		UPDATE tbl_users
		SET users_postsal_code  = #{usersPostsalCode},
    		users_address_line1 = #{usersAddressLine1},
    		users_address_line2 = #{usersAddressLine2}
		WHERE users_number = #{usersNumber}
	</update>
	
	<!-- 전화번호 수정 쿼리작성 -->
	<update id="phoneUpdate">
		UPDATE tbl_users
		SET users_phone  = #{usersPhone}
		WHERE users_number = #{usersNumber}
	</update>
	
	<!-- 이메일 수정 쿼리작성 -->
	<update id="emailupdate">
		UPDATE tbl_users
		SET users_email  = #{usersEmail}
		WHERE users_number = #{usersNumber}
	</update>
	
	<!-- 비밀번호 수정 쿼리작성 -->
	<update id="passwordupdate">
		update tbl_users 
		set users_password = #{usersPassword}
		where tbl_users.users_number = #{usersNumber}
	</update>
	
	
</mapper>












