<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="marker">
	<!-- 지도에 표시할 마크 가져오기 -->
   <select id="get" parameterType="int" resultType="MarkerDTO">
   		SELECT shops_number, shops_name, shops_branch_name, shops_road_address, shops_working_hours, shops_phone, shops_takeout, shops_intro_text
FROM tbl_shops WHERE = (#{shopsNumber})
   </select>
	<!-- 찜 추가 -->
	<insert id="favoriteAdd" parameterType="ShopsFavoritesActionDTO">
		insert into tbl_shops_favorites
		values (seq_shops_favorites.nextval, #{userNumber}, #{shopsNumber}, sysdate)
	</insert>
	<!-- 찜 삭제 -->
	<delete id="favoriteDelete" parameterType="ShopsFavoritesActionDTO">
		delete from tbl_shops_favorites
		where users_number = #{usersNumber} and favorites_shops_number = #{shopsNumber}
	</delete>
</mapper>