<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newsList">
	<!-- 일반 뉴스 추가 쿼리 작성 -->
   <insert id="add" parameterType="NewsListDTO">
		INSERT INTO tbl_news(news_number, admin_number, news_title, news_link_url, news_created_date, news_updated_date)
		VALUES (seq_news_items.nextval, #{adminNumber}, #{newsTitle}, #{newsLinkUrl}, TO_DATE(#{newsCreatedDate}, 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{newsUpdatedDate}, 'YYYY-MM-DD HH24:MI:SS'))
   </insert>
   <!-- 일반 뉴스 불러오기 쿼리 작성-->
   <select id="findById" parameterType="int" resultType="NewsListDTO">
   		SELECT * FROM tbl_news
   		WHERE news_number = #{newsNumber}
   </select>
   <!-- 일반 뉴스 수정 쿼리 작성-->
   <update id="edit" parameterType="NewsListDTO">
   		UPDATE tbl_news SET news_title = #{newsTitle}, news_link_url = #{newsLinkUrl}, news_created_date = TO_DATE(#{newsCreatedDate}, 'YYYY-MM-DD HH24:MI:SS'), news_updated_date = TO_DATE(#{newsUpdatedDate}, 'YYYY-MM-DD HH24:MI:SS')
   		WHERE news_number = #{newsNumber}
   </update>
   <!-- 일반 뉴스 삭제 쿼리 작성-->
   <delete id="delete" parameterType="int">
   		DELETE FROM tbl_news
   		WHERE news_number = #{newsNumber}
	</delete>  
</mapper>