<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="news">
	<!-- 일반 뉴스 추가 쿼리 작성 -->
   <insert id="add" parameterType="NewsDTO">
		INSERT INTO tbl_news(news_number, admin_number, news_title, news_link_url, news_created_date, news_updated_date)
		VALUES (seq_news_items.nextval, #{adminNumber}, #{newsTitle}, #{newsLinkUrl}, TO_DATE(#{newsCreatedDate}, 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{newsUpdatedDate}, 'YYYY-MM-DD HH24:MI:SS'))
   </insert>
   
   <!-- 일반 뉴스 불러오기 쿼리 작성-->
   <select id="findById" parameterType="int" resultType="NewsDTO">
   		SELECT * FROM tbl_news
   		WHERE news_number = #{newsNumber}
   </select>
   
   <!-- 일반 뉴스 수정 쿼리 작성-->
   <update id="edit" parameterType="NewsDTO">
   		UPDATE tbl_news SET news_title = #{newsTitle}, news_link_url = #{newsLinkUrl}, news_created_date = TO_DATE(#{newsCreatedDate}, 'YYYY-MM-DD HH24:MI:SS'), news_updated_date = TO_DATE(#{newsUpdatedDate}, 'YYYY-MM-DD HH24:MI:SS')
   		WHERE news_number = #{newsNumber}
   </update>
   
   <!-- 일반 뉴스 삭제 쿼리 작성-->
   <delete id="delete" parameterType="newsNumber">
   		DELETE FROM tbl_news
   		WHERE news_number = #{newsNumber}
	</delete>  
</mapper>
<mapper namespace="newsBanner">
	<!-- 배너 뉴스 추가 쿼리 작성 -->
   <insert id="add" parameterType="NewsBannerDTO">
		INSERT INTO tbl_news_banners(banner_news_number, admin_number, banner_image_files_number, banner_title, banner_content, banner_link_url, banner_created_date, banner_updated_date)
		VALUES (seq_news_items.nextval, #{adminNumber}, #{bannerImageFilesNumber}, #{newsTitle}, #{bannerContent}, #{bannerLinkUrl}, TO_DATE(#{bannerCreatedDate}, 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{bannerUpdatedDate}, 'YYYY-MM-DD HH24:MI:SS'))
   </insert>
   
   <!-- 배너 뉴스 불러오기 쿼리 작성-->
   <select id="findById" parameterType="int" resultType="NewsBannerDTO">
   		SELECT * FROM tbl_news_banners
   		WHERE news_number = #{bannerNewsNumber}
   </select>
   
   <!-- 배너 뉴스 수정 쿼리 작성-->
   <update id="edit" parameterType="NewsBannerDTO">
   		UPDATE tbl_news_banners SET news_title = #{newsTitle}, news_link_url = #{newsLinkUrl}, news_created_date = TO_DATE(#{newsCreatedDate}, 'YYYY-MM-DD HH24:MI:SS'), news_updated_date = TO_DATE(#{newsUpdatedDate}, 'YYYY-MM-DD HH24:MI:SS')
   		WHERE news_number = #{bannerNewsNumber}
   </update>
   
   <!-- 배너 뉴스 삭제 쿼리 작성-->
   <delete id="delete" parameterType="int">
   		DELETE FROM tbl_news_banners
   		WHERE news_number = #{bannerNewsNumber}
   </delete>
</mapper>