<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="posts">

 <!-- 전체 게시글 조회 -->
   <select id="selectAll" resultType="PostsListDTO">
   <![CDATA[
	SELECT * FROM (
		SELECT ROWNUM AS RNUM, SUBQUERY.*
		FROM(
			SELECT P.POSTS_NUMBER, P.POSTS_TITLE, P.USERS_NUMBER, U.USERS_NAME, P.POSTS_VIEW_COUNT, TO_CHAR(P.POSTS_CREATED_DATE, 'YYYY-MM-DD') AS POSTS_CREATED_DATE, P.POSTS_REPORT_COUNT 
			FROM RICEBALL.TBL_POSTS P JOIN RICEBALL.TBL_USERS U ON P.USERS_NUMBER = U.USERS_NUMBER
			ORDER BY P.POSTS_CREATED_DATE DESC
		) SUBQUERY
	) WHERE rnum BETWEEN #{startRow} AND #{endRow}
   ]]>
   </select>

   <!-- 게시글 상세(1건조회) -->
   <select id="select" parameterType="int" resultType="PostsDTO">
	<![CDATA[      
		SELECT P.POSTS_NUMBER, P.POSTS_TITLE, P.POSTS_CONTENT, P.USERS_NUMBER, U.USERS_NAME, P.POSTS_VIEW_COUNT, TO_CHAR(P.POSTS_CREATED_DATE, 'YYYY-MM-DD') AS POSTS_CREATED_DATE, TO_CHAR(P.POSTS_UPDATED_DATE, 'YYYY-MM-DD') AS POSTS_UPDATED_DATE, P.POSTS_REPORT_COUNT 
		FROM RICEBALL.TBL_POSTS P JOIN RICEBALL.TBL_USERS U ON P.USERS_NUMBER = U.USERS_NUMBER
		WHERE POSTS_NUMBER = #{posts_number}
     ]]>
   </select>
   
   <!-- 게시글 총 개수 -->
   <select id="getTotal" resultType="int">
      SELECT COUNT(posts_number) FROM tbl_posts  
   </select>
   
   
   <!-- 현재 사용자가 신고한 상태인지 확인 -->
   <select id="checkReport" resultType="int">
   <![CDATA[  
   		SELECT COUNT(REPORT_NUMBER) AS ANSWER FROM RICEBALL.TBL_REPORT WHERE REPORT_POST_NUMBER = #{postsNumber} AND REPORT_USERS_NUMBER = #{usersNumber}
   	]]>
   </select>
   
   <!-- 신고 추가 -->
	<insert id="insertReport" >
		INSERT INTO TBL_REPORT(REPORT_NUMBER, REPORT_POST_NUMBER, REPORT_USERS_NUMBER, REPORT_REASON)
   		VALUES(seq_report.nextval, #{postsNumber}, #{usersNumber}, #{reportReason})
	</insert>
   
   <!-- 신고 업데이트 -->
   <update id="updateReport">
   		UPDATE RICEBALL.TBL_POSTS
		SET POSTS_REPORT_COUNT = (SELECT COUNT(REPORT_NUMBER) FROM RICEBALL.TBL_REPORT WHERE REPORT_POST_NUMBER = #{postsNumber})
		where POSTS_NUMBER = #{postsNumber}
   </update>
   
   <!--  게시글 추가 -->
<!--    <insert id="insert" parameterType="BoardDTO">
      INSERT INTO TBL_BOARD (board_number, board_title, board_content, member_number)
      VALUES(seq_board.nextval, #{boardTitle}, #{boardContent}, #{memberNumber})   
   </insert>
   방금 생성된 시퀀스 값 가져오기
   <select id="getCurrentBoardNumber" resultType="int">
      SELECT seq_board.CURRVAL
      FROM DUAL
   </select> -->
   
   <!-- 게시글 추가 -->
   <!--  useGeneratedKeys와 keyProperty 활용
      MyBatis의 useGeneratedKeys 속성과 CURRVAL를 조합하여 시퀀스 값을 객체 필드에 매핑    -->
   <insert id="insert" parameterType="PostsDTO">
      <selectKey keyProperty="postsNumber" resultType="int" order="BEFORE">
         SELECT seq_posts.nextval FROM dual
      </selectKey>
      INSERT INTO tbl_posts(posts_number, posts_title, users_number, posts_content, posts_view_count, posts_created_date, posts_updated_date, posts_report_count)
      VALUES(#{postsNumber}, #{postsTitle}, #{usersNumber}, #{postsContent}, 0, SYSDATE, null, 0)
   </insert>
   
   <!-- 조회수 추가 쿼리 -->
	<update id="updateReadCount" parameterType="int">
		UPDATE TBL_POSTS SET POSTS_VIEW_COUNT = POSTS_VIEW_COUNT + 1
		WHERE POSTS_NUMBER = #{postsNumber}
   </update>
   
   <!-- 게시글 삭제 쿼리 -->
   <delete id="delete" parameterType="int">
      delete from tbl_posts where posts_number = #{postsNumber}
   </delete>
   
   <!-- 게시글 수정쿼리 -->
   <update id="update" parameterType="PostsDTO">
		UPDATE tbl_posts
		SET posts_title=#{postsTitle}, POSTS_CONTENT = #{postsContent}, POSTS_UPDATED_DATE = SYSDATE
		where POSTS_NUMBER = #{postsNumber}
   </update>
   
   	<!-- 게시글 검색 쿼리 -->
   	<select id="search" parameterType="String" resultType="PostsListDTO">
   	   <![CDATA[
		SELECT * FROM (
   		SELECT ROWNUM AS rnum, subquery.*
		FROM (SELECT posts_number, posts_title, users_number, nvl((SELECT users_name FROM TBL_CARE_USERS WHERE USERS_NUMBER = p.users_number), (SELECT users_name FROM TBL_NORMAL_USERS WHERE USERS_NUMBER = p.users_number)) as users_name, posts_view_count, posts_created_date
		FROM TBL_POSTS p WHERE POSTS_TITLE || POSTS_CONTENT LIKE '%${keyWord}%' ORDER BY POSTS_CREATED_DATE) subquery
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}
   		]]> 
   	</select>
   
   
</mapper>