@charset "UTF-8";
/* 전체 내용 */
* {
  margin: 0;
  padding: 0;
}

/* 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 메인 세션 */
main {
  width: 100%;
  height: calc(100vh - 220px);
  background-color: #FFE7C9;
}

/* 전체 뉴스 컨테이너 */
.search_result_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 전체 뉴스 탑메뉴 */
.search_result_topmenu {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}


/* 제목 */
.title {
  font-size: 30px;
  margin: 40px 0px;

}

.search_result_topmenu{
	display : flex;
	align-items : center;
	justify-content: center;
}


/* 전체 카드 리스트 */
.search_result_card{
	width : auto;
	justify-content: center;
	align-items : center;
}

/* 전체 카드 리스트 ul */
.search_result_card > ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width : auto;
  margin-right : auto;
  margin-left : auto;
  justify-content: center;
	align-items : center;
}
.news_list li {
	display : flex;
  flex: 0 0 calc(33.333% - 20px); /* 3등분 */
  justify-content: center;
	align-items : center;
}

/* 뉴스 카드 */
.card{
  width: 350px;
  height: 150px;
  background-color: #FFF8EF;
  margin: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
   justify-content: center;
	align-items : center;
}

/* 페이지 네이션 */
.pagination{
  text-align: center;
  cursor: pointer;
}

.paging {
	display: flex;
	gap:12px;
	justify-content: center;

}

/* 페이지 네이션 활성화 */
.active{
  color: red;
  cursor: default;
}

/* 카드 뉴스 내용 */
.card p {
  text-align: center;
  word-wrap: normal;
}

.cardtitle{
  font-size: 20px;
  margin : 10px
}
.cardlink{
	margin : 10px;
	font-size: 15px;
	word-break: break-word;
}