<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>workTogether</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<servlet-class>com.wt.app.admin.AdminFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>*.ad</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>User</servlet-name>
  	<servlet-class>com.wt.app.user.UsersFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>User</servlet-name>
  	<url-pattern>*.us</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CareList</servlet-name>
  	<servlet-class>com.wt.app.careList.CareListFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CareList</servlet-name>
  	<url-pattern>*.cl</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Shops</servlet-name>
  	<servlet-class>com.wt.app.shops.ShopsFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Shops</servlet-name>
  	<url-pattern>*.sh</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Posts</servlet-name>
  	<servlet-class>com.wt.app.posts.PostsFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Posts</servlet-name>
  	<url-pattern>*.po</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>Favorite</servlet-name>
  	<servlet-class>com.wt.app.shops.FavoriteFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Favorite</servlet-name>
  	<url-pattern>*.fa</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>CareMyPage</servlet-name>
     <servlet-class>com.wt.app.careMyPage.CareMyPageFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>CareMyPage</servlet-name>
     <url-pattern>*.cp</url-pattern>
  </servlet-mapping>
  

</web-app>