<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <!-- 카멜 케이스 매핑 설정 -->
      <setting name="mapUnderscoreToCamelCase" value="true" />
      
      <!-- 쿼리 결과 필드가 null인 경우 누락되지 않도록 설정 -->
      <setting name="callSettersOnNulls" value="true" />
      
      <!-- 쿼리에 보내는 파라미터가 null인 경우 오류가 발생하는 것을 방지 설정 -->
      <setting name="jdbcTypeForNull" value="NULL" />
   </settings>
   
   <!-- DTO 별칭 설정 -->
 	<typeAliases>
   		<typeAlias type="com.wt.app.dto.UsersLoginDTO" alias="UsersLoginDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.ShopsListDTO" alias="ShopsListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.AdminDongListDTO" alias="AdminDongListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.ShopsFavoritesActionDTO" alias="ShopsFavoritesActionDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CareListDTO" alias="CareListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.PostsDTO" alias="PostsDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.PostsListDTO" alias="PostsListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.NewsListDTO" alias="NewsListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.NewsMainDTO" alias="NewsMainDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.MarkerDTO" alias="MarkerDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CommentDTO" alias="CommentDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.AdminUserManagerDTO" alias="AdminUserManagerDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.AdminNoticeListDTO" alias="AdminNoticeListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.AdminReportListDTO" alias="AdminReportListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.AdminNewsBannerDTO" alias="AdminNewsBannerDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.AdminReferenceListDTO" alias="AdminReferenceListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.GetSubwayLineDTO" alias="GetSubwayLineDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.SubwayStationDTO" alias="SubwayStationDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.NormalModifyDTO" alias="NormalModifyDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.NormalFavoriteListDTO" alias="NormalFavoriteListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.NormalHeartListDTO" alias="NormalHeartListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.NormalMatchingDTO" alias="NormalMatchingDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.NormalPostsListDTO" alias="NormalPostsListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.NormalReferenceListDTO" alias="NormalReferenceListDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CareMarkDTO" alias="CareMarkDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CareMatchingDTO" alias="CareMatchingDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CarePostDTO" alias="CarePostDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CareProfileDTO" alias="CareProfileDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CarePWCheckDTO" alias="CarePWCheckDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CareReferenceCheckDTO" alias="CareReferenceCheckDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CareReferenceDPDTO" alias="CareReferenceDPDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.CareReferenceDTO" alias="CareReferenceDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.ReportDTO" alias="ReportDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.PostReplyDTO" alias="PostReplyDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.MessageSRDTO" alias="MessageSRDTO"></typeAlias>
   		<typeAlias type="com.wt.app.dto.MainDTO" alias="MainDTO"></typeAlias>
   </typeAliases> 
   
   <environments default="oracle">
      <environment id="oracle">
         <transactionManager type="JDBC"></transactionManager>
         <dataSource type="POOLED">
            <property name="driver" value="oracle.jdbc.OracleDriver" />
            <property name="url" value="jdbc:oracle:thin:@localhost:1521/xe" />
            <property name="username" value="riceball" />
            <property name="password" value="rbwalk0900" />
         </dataSource>
      </environment>
   </environments>
   
  <mappers>
       <mapper resource="com/wt/mapper/CareUsersMapper.xml" />
      <mapper resource="com/wt/mapper/ShopsActionMapper.xml" />
      <mapper resource="com/wt/mapper/CareListMapper.xml" />
      <mapper resource="com/wt/mapper/AdminMapper.xml" />
      <mapper resource="com/wt/mapper/PostsMapper.xml" />
      <mapper resource="com/wt/mapper/MarkerMapper.xml" />
      <mapper resource="com/wt/mapper/NewsMapper.xml" />
      <mapper resource="com/wt/mapper/Comment.xml" />
      <mapper resource="com/wt/mapper/AdminTwoMapper.xml" />
      <mapper resource="com/wt/mapper/SubwayMapper.xml" />
      <mapper resource="com/wt/mapper/MyPageNormalMapper.xml" />
      <mapper resource="com/wt/mapper/CareExitMapper.xml" />
      <mapper resource="com/wt/mapper/CareMarkMapper.xml" />
      <mapper resource="com/wt/mapper/CareMatchingMapper.xml" />
      <mapper resource="com/wt/mapper/CareModifyMapper.xml" />
      <mapper resource="com/wt/mapper/CarePointreturnMapper.xml" />
      <mapper resource="com/wt/mapper/CarePostMapper.xml" />
      <mapper resource="com/wt/mapper/CareProfileMapper.xml" />
      <mapper resource="com/wt/mapper/CarePwCheckMapper.xml" />
      <mapper resource="com/wt/mapper/CareReferenceCheckMapper.xml" />
      <mapper resource="com/wt/mapper/CareReferenceDPMapper.xml" />
      <mapper resource="com/wt/mapper/CareReferenceMapper.xml" />
      <mapper resource="com/wt/mapper/ReportMapper.xml" />
      <mapper resource="com/wt/mapper/PostReplyMapper.xml" />
      <mapper resource="com/wt/mapper/UserMapper.xml" />
      <mapper resource="com/wt/mapper/SendRecieveMessageMapper.xml" />
   </mappers> 
</configuration>
