@charset "UTF-8";
.care_box {
  width: calc(100% - 201px);
  position: relative;
  left: 201px;
  height: 100%;
}

.box_title {
  padding: 20px;
}

.table_form {
  width: 70%;
  height: 80%;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.table {
  display: flex;
  flex-wrap: wrap;          /* <-- 이 한 줄로 다음 줄로 감기게 */
  align-items: flex-start;
}

.thead {
  width: 15%;
  height: 90%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.thead_content {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.tbody {
  width: 60%;
  height: 90%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
.tbody_content {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  border-left: none;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #d9d9d9; */
  justify-content: space-around;
}

.download {
  background-color: #d7d7d7;
  padding: 5px 20px;
  border: 1px solid black;
}

.btn_area {
  width: 75%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  height: 60px;
  align-items: flex-end;
}

.cancle,
.submit {
  padding: 10px 30px;
  border: 1px solid black;
  color: white;
}

.submit {
  background-color: #2f52aa;
}
.cancle {
  background-color: red;
}


.btn_area { 
	position: relative; 
	z-index: 10; 
}

tn_area button { 
	pointer-events: auto; 
}

.table .btn_area{
  order: 3;                 /* 컬럼들 다음 순서 */
  width: 75%;               /* thead(15%) + tbody(60%)와 동일 폭 */
  margin-top: 12px;
  justify-content: flex-end;/* 오른쪽 정렬 유지 */
}

